@import "bootstrap-sprockets";
@import "bootstrap";

// Navbar Header
.navbar-brand {
  font-weight: 900;
  font-size: 20px;
  color: white !important;
}

// Carousel
#myCarousel {
  background-color: black;
}

.user-link {
  max-width: 900px;
  margin: auto;
}

// Carousel Captions
.carousel-caption {
    top: -20px;
    left: 120px;
    text-align: left;
    bottom: auto;
    text-shadow: 1px 1px 0px black; 
}

// Carousel Thumbnails
#slider-thumbs {
  opacity: 0.1;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 100px;
}

.list-inline {
  text-align: center;
  display: inline-block;
  li {
    padding: 0;
  }
}

.thumbnail-img {
  box-shadow: 2px 2px 1px black;
}

.selected img {
  outline: 2px solid white;
  outline-offset: -2px;
}

// Carousel Inner
.carousel-inner {
  background-color: black;
  height: 500px !important;
  max-width: 1366px;
  margin: auto;
}

.carousel-image {
  height: 500px !important;
  margin: auto;
}

// Carousel Pagination
.photos-pagination {
  text-align: center;
}

.pagination {
  li {
    a, a:hover {
      color: rgb(34, 34, 34);
      border: none;
    }
  }
  
  li.active {
    a, a:hover {
      background-color: rgb(34, 34, 34);
    }
  }
}
